.counter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#count {
  font-size: 48px;
}

.counter button {
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  background: linear-gradient(45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  color: #f5f5f5;
  font-size: 20px;
  cursor: pointer;
  animation: gradient 15s ease infinite;
  box-shadow: #000 0px 0px 15px;
}

#auth-buttons button {
  position: fixed;
  bottom: 20px;
  left: 20px;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  background: linear-gradient(45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  color: #f5f5f5;
  font-size: 20px;
  cursor: pointer;
  animation: gradient 15s ease infinite;
  box-shadow: #000 0px 0px 15px;
}