*
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #333;
  color: #ffffff;
  transition: background-color 0.3s, color 0.3s;
  overflow-x: hidden;
  padding-bottom: 50px;
}

html {
  scroll-behavior: smooth;
  position: relative;
  min-height: 100%;
}

button {
  background: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}

a {
  color: inherit;
}

.preloader {
  background-color: #000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

.preloader.hide {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease-in-out visibility 0.5s linear;
}

.loader {
  border: 8px solid #f3f3f3;
  border-top: 8px solid #3498db;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 1.5s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

header {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  display: grid;
  place-items: center;
  font-size: 20px;
  color: #000;
  animation: gradient 15s ease infinite;
}

@keyframes gradient {
  0% {
      background-position: 0% 50%;
  }

  50% {
      background-position: 100% 50%;
  }

  100% {
      background-position: 0% 50%;
  }
}

.navbar {
  overflow: hidden;
  justify-content: center;
}

.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: 0.5s;
}

.navbar a:hover,
.dropdown:hover .dropbtn {
  background-color: #ddd;
  color: #333;
}

.navbar .icon {
  display: none;
}

.navbar .social-icons {
  float: right;
}

/* Dropdown Container */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown Button */
.dropdown .dropbtn {
  font-size: 20px;  
  border: none;
  outline: none;
  color: #f2f2f2;
  padding: 14px 16px;
  background-color: inherit;
  margin: 0;
  cursor: pointer;
  transition: 0.5s;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #ddd;
  min-width: 160px;
  z-index: 1;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,1);
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #333;
  color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

.section {
  padding: 50px 0;
}

.section .container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

.section h1 {
  font-size: 2.5rem;
  line-height: 1.25;
}

.section h2 {
  font-size: 1.3rem;
}

.timeline {
  position: relative;
  white-space: nowrap;
  max-width: 1400px;
  padding: 0 10px;;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 320px auto;
  grid-gap: 20px;
  background-color: lightblue;
  color: #333;
  border-radius: 20px;
  box-shadow: #000 5px 5px 15px 5px;
}

.timeline .info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px 40px;
  white-space: normal;
  border-radius: 10px;
}

.timeline .info p {
  margin-top: 10px;
}

.timeline .info a {
  text-decoration: none;
}

.timeline ol::-webkit-scrollbar {
  height: 12px;
}

.timeline ol::-webkit-scrollbar-thumb,
.timeline ol::-webkit-scrollbar-track {
  border-radius: 92px;
}

.timeline ol::-webkit-scrollbar-thumb {
  background: #023e8a;
}

.timeline ol::-webkit-scrollbar-track {
  background: #48cae4;
}

.timeline ol {
  font-size: 0;
  padding: 300px 0;
  transition: all 1s;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
}

.timeline ol li {
  position: relative;
  display: inline-block;
  list-style-type: none;
  width: 160px;
  height: 5px;
  background: #023e8a;
  scroll-snap-align: start;
}

.timeline ol li:last-child {
  width: 340px;
}

.timeline ol li:not(:first-child) {
  margin-left: 14px;
}

.timeline ol li:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 50%;
  left: calc(100%);
  bottom: 0;
  width: 16px;
  height: 16px;
  transform: translateY(-50%);
  border-radius: 50%;
  background: #48cae4;
  z-index: 1;
}

.timeline ol li div {
  position: absolute;
  left: calc(100%);
  width: 280px;
  padding: 15px;
  font-size: 1rem;
  white-space: normal;
  border-radius: 0 10px 10px 10px;
}

.timeline ol li:nth-child(odd) div {
  top: -16px;
  transform: translateY(-100%);
  border-radius: 10px 10px 10px 0;
}

.timeline ol li:nth-child(even) div {
  top: calc(100% + 16px);
}

.timeline time {
  display: block;
  font-size: 1.4rem;
  font-weight: bold;
  margin-bottom: 8px;
  color: #333; 
}

.dark-mode {
  background-color: #ffffff;
  color: #333;
}

.toggle-dark-mode {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 9999;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  background: linear-gradient(45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  color: #f5f5f5;
  cursor: pointer;
  animation: gradient 15s ease infinite;
  box-shadow: #000 0px 0px 15px;
}

@media screen and (max-width: 768px) {
  .navbar a:not(:first-child), .dropdown .dropbtn {
    display: none;
  }

  .navbar a.icon {
    float: right;
    display: block;
  }
  
  .social-icons {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .navbar.responsive {position: relative;}
  .navbar.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }

  .navbar.responsive a {
    float: none;
    display: block;
    text-align: left;
  }

  .navbar.responsive .dropdown {float: none;}
  .navbar.responsive .dropdown-content {position: relative;}
  .navbar.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }
  
  .navbar.responsive .social-icons {
    float: none;
    display: flex;
    text-align: left;
  }
}

@media screen and (max-width: 800px) {
  .timeline {
    display: block;
    top: 0;
    border-radius: 0;
  }

  .timeline .info {
    display: none;
  }
}